version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: order_db
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - order-network

  redis:
    image: redis:7-alpine
    container_name: order_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - order-network
    command: redis-server --requirepass njasani6618 --appendonly yes

volumes:
  postgres_data:
  redis_data:

networks:
  order-network:
    driver: bridge