version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: order_db
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - order-network

volumes:
  postgres_data:

networks:
  order-network:
    driver: bridge